.flex-row
{
    display: flex;
    flex-direction: row;
    align-items: baseline;

    > :not(:last-child)
    {
        margin-right: 1em;
    }

    @media (min-width: 441px)
    {
        .flex1
        {
            flex: 1;
        }

        .flex2
        {
            flex: 2;
        }
    }  

    @media (max-width: 440px) {
        &:not(.ignore-media)
        {
            flex-direction: column !important;
        }
    }
}
