<mat-card>
    <mat-card-content>
        <h6>Endereços</h6>
        <div class="list">
            @if (items.length == 0)
            {
                <mat-card appearance="outlined">
                    <mat-card-content>Nenhum valor cadastrado</mat-card-content>
                </mat-card>
            }
            
            @for (item of items; track item.key)
            {
                <mat-card appearance="outlined">
                    <mat-card-content>
                        <p class="pre-wrap">{{addressToString(item.value)}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button matButton (click)="remove(item.key)" [disabled]="disabled">
                            Remover
                        </button>
                    </mat-card-actions>
                </mat-card>
            }            
            
            <div class="button-area">
                <button matButton="filled" (click)="add()" [disabled]="disabled">
                    Adicionar
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>