<mat-card>
    <mat-card-content>
        <h6>{{ titles[type] }}</h6>
        <div class="spacing-v">
            @if (items.length == 0)
            {
                <mat-card appearance="outlined" data-testid="no-items-warning">
                    <mat-card-content>
                        Nenhum valor cadastrado
                    </mat-card-content>
                </mat-card>
            }
            
            @for (item of items; track item.key)
            {
                <div class="item">
                    <mat-form-field >
                        <mat-label>{{ labels[type] }}</mat-label>
                        <input type="text" matInput [value]="items.getValue(item.key)"
                        (change)="onChange(item.key, $event.target.value)"/>
                    </mat-form-field>
                    <button matIconButton title="Remover" (click)="remove(item.key)" [disabled]="disabled">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>            
            }
            
            <div class="button-area">
                <button matButton="filled" (click)="add()" [disabled]="disabled" data-testid="add-button">Adicionar</button>
            </div>
        </div>
    </mat-card-content>
</mat-card>