<mat-toolbar>
    <span>Meus Contatos</span>
    <span class="toolbar-spacer"></span>
    <button matIconButton title="Adicionar contato" (click)="goToEdit()">
        <mat-icon>person_add</mat-icon>
    </button>
    <button matIconButton title="Sair" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>

<page-content>
    <mat-card class="content">
        <mat-card-content>
            @if (status.loading)
            {
                <div class="loading">
                    <mat-spinner></mat-spinner>
                </div>
            }
            @else if (status.error)
            {
                <div class="status-message">
                    <div>
                        <mat-icon>error_outlined</mat-icon>
                    </div>
                    <div class="mat-typography">Ocorreu um erro</div>
                </div>
            }
            @else if (contacts.length == 0)
            {
                <div class="status-message">
                    <div>
                        <mat-icon>playlist_remove</mat-icon>
                    </div>
                    <div class="mat-typography">Nenhum contato encontrado</div>
                </div>
            }
            @else
            {
                <div>
                    <mat-selection-list>
                        @for (contact of contacts; track contact.value)
                        {
                            <mat-list-item (click)="goToEdit(contact.value)" class="item-list">
                                <mat-icon matListItemIcon>person</mat-icon>
                                <span matListItemTitle>{{contact.label}}</span>
                            </mat-list-item>
                        }
                    </mat-selection-list>
                </div>
            }
        </mat-card-content>
    </mat-card>
</page-content>